# Dependencies
node_modules
.pnpm-store/

# Environment
.env
.env.*
!.env.example

# Build
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Cloudflare
.wrangler/